services:
  postgres-db:
    container_name: madmotor-postgres
    image: postgres:12.2-alpine
    restart: no
    env_file: .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - ./database/madmotor.sql:/docker-entrypoint-initdb.d/madmotor.sql
    networks:
      - madmotor-network
  mongo-db:
    container_name: madmotor-mongo
    image: mongo:latest
    restart: no
    env_file: .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    ports:
      - ${MONGO_PORT}:27017
    volumes:
      - ./database/madmotor.js:/docker-entrypoint-initdb.d/madmotor.js:ro
    networks:
      - madmotor-network

  adminer-postgres:
    container_name: madmotor-adminer
    image: adminer:latest
    restart: no
    env_file: .env
    ports:
      - 8080:8080
    depends_on:
      - postgres-db
    networks:
      - madmotor-network

  mongo-express-db:
    container_name: madmotor-db_mongo-express-db
    image: mongo-express
    restart: no
    env_file: .env
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_PASSWORD}
      ME_CONFIG_MONGODB_SERVER: mongo-db
    depends_on:
      - mongo-db
    networks:
      - madmotor-network
networks:
  madmotor-network:
    driver: bridge